<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<!-- DataSource -->
	<bean id="MALL_DS" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="java:MALL_DS" />
	</bean>

	<!-- Component Services  -->
	<import resource="spring-component/MemberEntity.xml" />
	<import resource="spring-component/MemberProcess.xml" />

	<!-- Web Controllers -->
	<import resource="spring-web/member.xml" />
</beans>