<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>NexianWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegistFormServlet</display-name>
    <servlet-name>RegistFormServlet</servlet-name>
    <servlet-class>my.ajax.controller.RegistFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistFormServlet</servlet-name>
    <url-pattern>/RegistFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckIdServlet</display-name>
    <servlet-name>CheckIdServlet</servlet-name>
    <servlet-class>my.ajax.controller.CheckIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckIdServlet</servlet-name>
    <url-pattern>/CheckIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchByIdServlet</display-name>
    <servlet-name>SearchByIdServlet</servlet-name>
    <servlet-class>my.ajax.controller.SearchByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchByIdServlet</servlet-name>
    <url-pattern>/SearchByIdServlet</url-pattern>
  </servlet-mapping>
</web-app>